/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.heading {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 50px;
  background: #000;
  color: rgb(255, 252, 252);
}
.form{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
form{
  background: #f6ebeb;
  min-height: 300px;
  width: 50%;
}
.form input{
  margin: 20px;
  width: 250px;
  height: 30px;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.add{
  background: #000;
  color: wheat;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.bottom{
  background: #c4abab;
  height: auto;
  width: 100%;
  margin-top: 20px;
  
  
}
.bottom ul{
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}
.main{
  display: flex;
  justify-content: space-between;
  margin: 5px 40px;
  flex-wrap: wrap;

}
.main li{
  display: flex;
  justify-content: space-between;
}
.del{
  height: 30px ;
  width: 100px;
  align-items: center;
  background: #000;
  color: wheat;
}
@media (max-width:500px) {
  form{
    width: 90%;
  }
  .main{
    justify-content: space-between;
  }
}